<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()">
        <ion-icon name="close-circle" color="secondary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="secondary">EDITAR DIRECTOR</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-title color="secondary"> nombre del director seleccionado </ion-title>
    </ion-card-header>
  </ion-card>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-margin-top ion-margin-bottom">
          <ion-item>
            <ion-label position="floating"> NOMBRE DEL DIRECTOR </ion-label>
            <ion-input   > </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-margin-top ion-margin-bottom">
          <ion-item>
            <ion-label position="floating">EDAD </ion-label>
            <ion-input   > </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-margin-top ion-margin-bottom">
          <ion-item>
            <ion-label position="floating"> ACTIVO </ion-label>
            <ion-input   > </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>

</ion-content>
