<ion-content>
  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>#</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>Nombre de director</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>Edad de director</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>Activo</ion-label>
          </ion-col>
          <ion-col>
            <ion-label></ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item *ngFor="let director of directores">
      <ion-grid>
        <ion-row>
          <ion-col> {{director.PK_idDirector}} </ion-col>
          <ion-col> {{director.name_Director}} </ion-col>
          <ion-col> {{director.age}} </ion-col>
          <ion-col> {{director.active_ }} </ion-col>
          <ion-col>
            <ion-button (click)="abrirRegistroDirector()"> EDITAR </ion-button>
            <ion-button (click)="eliminarRegistroDirector(director.PK_idDirector)"> BORRAR </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
